                                                            * {
                                                                margin: 0;
                                                                padding: 0;
                                                                box-sizing: border-box;
                                                            }
                                                            
                                                            html {
                                                                font-size: 16px;
                                                                color: #333;
                                                                background-color: white;
                                                                font-family: lato;
                                                            }
                                                            
                                                            header {
                                                                height: 100vh;
                                                                background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/hero.jpg);
                                                                background-position: center;
                                                                background-size: cover;
                                                            }
                                                            
                                                            .logo {
                                                                float: left;
                                                                height: 100px;
                                                                margin-top: 20px;
                                                            }
                                                            
                                                            .main-nav {
                                                                float: right;
                                                                list-style: none;
                                                            }
                                                            
                                                            .main-nav li {
                                                                display: inline-block;
                                                                margin-right: 20px;
                                                            }
                                                            
                                                            .main-nav li a {
                                                                color: white;
                                                                text-decoration: none;
                                                                text-transform: uppercase;
                                                                font-weight: bold;
                                                                letter-spacing: 2px;
                                                            }
                                                            
                                                            .main-nav li a:hover {
                                                                color: orange;
                                                                text-decoration: underline;
                                                            }
                                                            
                                                            .hero-box {
                                                                position: absolute;
                                                                top: 40%;
                                                            }
                                                            
                                                            h1 {
                                                                color: white;
                                                                letter-spacing: 2px;
                                                                font-size: 2rem;
                                                                line-height: 150%;
                                                                font-weight: bold;
                                                                margin-bottom: 50px;
                                                                margin-top: 30px;
                                                            }
                                                            
                                                            .btn {
                                                                border: solid orange 1px;
                                                                margin-right: 15px;
                                                                color: orange;
                                                                text-decoration: none;
                                                                padding: 10px 20px;
                                                                border-radius: 15px;
                                                            }
                                                            
                                                            .btn:hover {
                                                                background-color: orange;
                                                                color: white;
                                                            }
                                                            
                                                            section {
                                                                padding: 0px 40px;
                                                            }
                                                            
                                                            h2 {
                                                                text-align: center;
                                                                margin-bottom: 15px;
                                                                font-size: 1.6rem;
                                                                text-transform: uppercase;
                                                                font-weight: bold;
                                                                word-spacing: 5px;
                                                                letter-spacing: 2px;
                                                                padding-top: 20px;
                                                            }
                                                            
                                                            h2::after {
                                                                content: "";
                                                                display: block;
                                                                width: 100px;
                                                                height: 5px;
                                                                background-color: orange;
                                                                margin: 20px auto;
                                                                border-radius: 10px 10px 10px 10px;
                                                            }
                                                            
                                                            .features-desc {
                                                                width: 60%;
                                                                margin: 20px auto;
                                                            }
                                                            
                                                            .box {
                                                                text-align: center;
                                                                margin-bottom: 10px;
                                                            }
                                                            
                                                            .box i {
                                                                color: orange;
                                                                margin-bottom: 10px;
                                                            }
                                                            
                                                            .box h3 {
                                                                margin-bottom: 10px;
                                                            }
                                                            
                                                            .box p {
                                                                line-height: 150%;
                                                            }
                                                            
                                                            .meal {
                                                                padding: 0;
                                                                background-color: black;
                                                                overflow: hidden;
                                                            }
                                                            
                                                            .meal img {
                                                                width: 100%;
                                                                opacity: 0.6;
                                                                transition: 1s;
                                                                transform: scale(1.1);
                                                            }
                                                            
                                                            .meal img:hover {
                                                                opacity: 1;
                                                                transform: scale(1);
                                                            }
                                                            
                                                            #works {
                                                                background-color: #eee;
                                                            }
                                                            
                                                            .app-iPhone {
                                                                width: 40%;
                                                            }
                                                            
                                                            .left-work {
                                                                text-align: right;
                                                                padding-right: 3%;
                                                            }
                                                            
                                                            .right-work {
                                                                text-align: left;
                                                                padding-left: 3%;
                                                                padding-top: 70px;
                                                            }
                                                            
                                                            .step {
                                                                margin-bottom: 30px;
                                                                display: flex;
                                                            }
                                                            
                                                            .step div {
                                                                width: 50px;
                                                                height: 50px;
                                                                margin-right: 20px;
                                                                padding: 13px;
                                                                border: solid 2px orange;
                                                                border-radius: 50%;
                                                                color: orange;
                                                                text-align: center;
                                                                font-weight: bold;
                                                            }
                                                            
                                                            .brands {
                                                                margin-top: 50px;
                                                            }
                                                            
                                                            .brands a {
                                                                margin-right: 15px;
                                                            }
                                                            
                                                            .brands img {
                                                                height: 50px;
                                                            }
                                                            
                                                            .city img {
                                                                margin-bottom: 10px;
                                                                width: 100%;
                                                            }
                                                            
                                                            .city h3 {
                                                                text-align: center;
                                                                margin-bottom: 10px;
                                                            }
                                                            
                                                            .city-info {
                                                                display: flex;
                                                                margin-bottom: 10px;
                                                            }
                                                            
                                                            .city-info i {
                                                                color: orange;
                                                                margin-right: 20px;
                                                            }
                                                            
                                                            #testimonials {
                                                                color: white;
                                                                background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/back-customers.jpg);
                                                                background-position: center;
                                                                background-size: cover;
                                                                background-attachment: fixed;
                                                            }
                                                            
                                                            #testimonials i {
                                                                color: white;
                                                                font-size: 50px;
                                                                margin-bottom: 20px;
                                                                margin-left: -50px;
                                                                transform: rotate(180deg);
                                                            }
                                                            
                                                            #testimonials p {
                                                                margin-bottom: 20px;
                                                                line-height: 150%;
                                                            }
                                                            
                                                            #testimonials img {
                                                                height: 50px;
                                                                border-radius: 50%;
                                                                margin-right: 15px;
                                                                vertical-align: middle;
                                                            }
                                                            
                                                            label {
                                                                font-size: 18px;
                                                                color: orange;
                                                                margin-bottom: 15px;
                                                                font-weight: bold;
                                                            }
                                                            
                                                            input[type=text],
                                                            input[type=email],
                                                            select,
                                                            textarea {
                                                                width: 100%;
                                                                padding: 7px;
                                                                border: solid #ccc 2px;
                                                                border-radius: 5px;
                                                                margin-bottom: 10px;
                                                            }
                                                            
                                                            input[type=checkbox] {
                                                                margin-bottom: 10px;
                                                                margin-right: 10px;
                                                            }
                                                            
                                                            button {
                                                                border: solid orange 1px;
                                                                padding: 10px 20px;
                                                                border-radius: 15px;
                                                                background-color: orange;
                                                                color: white;
                                                            }
                                                            
                                                            button:hover {
                                                                background-color: transparent;
                                                                color: orange;
                                                            }
                                                            
                                                            footer {
                                                                background-color: #333;
                                                                padding: 30px 0px;
                                                            }
                                                            
                                                            footer p {
                                                                margin-top: 20px;
                                                                color: #888;
                                                                text-align: center;
                                                            }
                                                            
                                                            .footer-nav,
                                                            .social-nav {
                                                                float: left;
                                                                list-style: none;
                                                            }
                                                            
                                                            .social-nav {
                                                                float: right;
                                                            }
                                                            
                                                            .footer-nav li,
                                                            .social-nav li {
                                                                display: inline-block;
                                                                margin-right: 20px;
                                                            }
                                                            
                                                            .footer-nav li a,
                                                            .social-nav li a {
                                                                color: white;
                                                                text-decoration: none;
                                                                text-transform: uppercase;
                                                                font-weight: bold;
                                                                letter-spacing: 2px;
                                                            }
                                                            
                                                            .footer-nav li a:hover,
                                                            .social-nav li a:hover {
                                                                color: orange;
                                                                text-decoration: underline;
                                                            }
                                                            
                                                            #signup {
                                                                background-color: #eee;
                                                                height: 530px;
                                                            }
                                                            
                                                            .sign {
                                                                background-color: whitesmoke;
                                                                width: 25%;
                                                                margin: 40px auto;
                                                                border-bottom: solid #eee 1px;
                                                                display: inline-block;
                                                                border-radius: 5px;
                                                            }
                                                            
                                                            .sign .f {
                                                                letter-spacing: 2px;
                                                                font-size: 1.3rem;
                                                                line-height: 150%;
                                                                text-transform: uppercase;
                                                                font-family: Quicksand;
                                                                padding: 6px;
                                                            }
                                                            
                                                            .sign .d {
                                                                color: orange;
                                                                font-family: Comfortaa;
                                                                font-size: 2.5rem;
                                                                padding: 6px;
                                                            }
                                                            
                                                            span {
                                                                color: orange;
                                                                font-size: 1.2rem;
                                                                font-family: Quicksand;
                                                                font-weight: bold;
                                                            }
                                                            
                                                            .sign .e {
                                                                font-family: Quicksand;
                                                                line-height: 150%;
                                                                font-size: 0.9rem;
                                                                padding: 6px;
                                                                border-bottom: solid rgb(207, 207, 205) 1.2px;
                                                            }
                                                            
                                                            .b ul {
                                                                list-style: none;
                                                                border-bottom: solid rgb(207, 207, 205) 1.2px;
                                                            }
                                                            
                                                            .b ul li {
                                                                font-family: Quicksand;
                                                                line-height: 150%;
                                                                font-size: 0.9rem;
                                                                padding: 8px;
                                                                color: black;
                                                            }
                                                            
                                                            .b ul i {
                                                                color: orange;
                                                                padding-right: 20px;
                                                            }
                                                            
                                                            .button {
                                                                padding: 10px 20px 10px 20px;
                                                                margin: 10px 50px 10px 62px;
                                                                background-color: whitesmoke;
                                                                color: orange;
                                                            }
                                                            
                                                            .button:hover {
                                                                background-color: orange;
                                                                color: whitesmoke;
                                                            }